<ion-item>
  <ion-label>Mesas</ion-label>
  <ion-select [(ngModel)]="selectedTable" (ngModelChange)="onTableChange($event)">
    <ion-select-option value="table1">Mesa 1</ion-select-option>
    <ion-select-option value="table2">Mesa 2</ion-select-option>
    <ion-select-option value="table3">Mesa 3</ion-select-option>
    <ion-select-option value="table4">Mesa 4</ion-select-option>
    <ion-select-option value="table5">Mesa 5</ion-select-option>
    <ion-select-option value="table6">Mesa 6</ion-select-option>
    <ion-select-option value="table7">Mesa 7</ion-select-option>
    <ion-select-option value="table8">Mesa 8</ion-select-option>
    <ion-select-option value="table9">Mesa 9</ion-select-option>
    <ion-select-option value="table10">Mesa 10</ion-select-option>
  </ion-select>
</ion-item>